@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100vh;
  margin: 0;
  background: url('imagenes/fondo.jpg') no-repeat;
  background-size: cover;
  background-position: center;
}

.cabecera {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 100px;
  background: rgba(255, 255, 255, .1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  backdrop-filter: blur(10px);
  border-bottom: 2px solid rgba(255, 255, 255, .2);
}

.cabecera::before {
  content: '';
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, transparent, rgba(255, 255, 255, .4), transparent);
  transition: .5s;
}

.cabecera:hover::before {
  left: 100%;
}

.logo {
  width: 100px;
  height: 100px;
  margin-top: 10px;
  margin-left: 30px;
}

.navbar a {
  color: #fff;
  font-size: 20px;
  text-decoration: none;
  margin-left: 35px;
}

.navbar a:hover {
  color:black;
}

.container {
  margin-top: 200px;
  position: relative;
  font-family: sans-serif;
}

.container::before {
  border-radius: 50%;
  width: 6rem;
  height: 6rem;
  top: 30%;
  right: 7%;
}

.container .box {
  width: 30.875em;
  height: 15.875em;
  padding: 1rem;
  background-color: rgba(255, 255, 255, 0.074);
  border: 1px solid rgba(255, 255, 255, 0.222);
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  border-radius: .7rem;
  transition: all ease .4s;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.container .box .title {
  font-size: 3rem;
  font-weight: 500;
  letter-spacing: .1em
}

.container .box:hover {
  box-shadow: 0px 0px 20px 1px #0000003f;
  border: 1px solid rgb(250, 246, 246);
}

.box {
  text-align: center;
}

.check {
  display: flex;
  justify-content: center;
  align-items: center;
}

/*BOTON*/
input[type=checkbox]{
	height: 0;
	width: 0;
	visibility: hidden;
}

label {
	cursor: pointer;
	text-indent: -9999px;
	width: 200px;
	height: 100px;
	background: rgb(252, 252, 252);
	display: block;
	border-radius: 100px;
	position: relative;
}

label:after {
	content: '';
	position: absolute;
	top: 5px;
	left: 5px;
	width: 90px;
	height: 90px;
	background: #242422;
	border-radius: 90px;
	transition: 0.3s;
}

input:checked + label {
	background: #242422;
}

input:checked + label:after {
	left: calc(100% - 5px);
	transform: translateX(-100%);
  background: #ffffff;
}

.paused {
  animation-play-state: paused;
}

.cabecera.no-blur {
  backdrop-filter: none;
}

.box.no-blur {
  background-color: rgba(255, 255, 255, 0.074);
  border: 1px solid rgba(255, 255, 255, 0.222);
  -webkit-backdrop-filter: none;
  backdrop-filter: none;
}
